.App {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: center;
  max-width: 800px;
  margin: 12px auto;
}

.App-logo {
  display: block;
  margin: 15px auto;
  width: 80px;
}

.App-header h2 {
  color: rgb(7, 160, 177);
  
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  list-style-type: none;
}

.ResultTop .react-player {
  margin: 0px auto;
  }