
.Dictionary form {
    max-width: 360px;
    display: block;
    margin: 15px auto;
}

.Dictionary section {
    background: rgb(195, 232, 236);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 9px 10px 9px rgba(0, 0, 0, 0.2);
    margin: 0 10px 20px;
}

.Photos img {    
    border-radius: 15px;
    margin-right: 5px;
}

.Photos div.col-4 {
   padding: 5px;
   text-align: center;
   margin: 0;
}

@media (max-width: 400px) {
    .Dictionary .PhotosSection {
    padding: 7px 15px;
    }
    .Photos img {    
        margin-right: 8px;
        padding: 0;
        margin-right: 4px;
    }
    .Dictionary section {
        padding: 15px;
       
    }
}